root=true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_spaces = true

# IntelliJ Settings

# Languages with Unicode strings -> UTF-8 encoding
[*.{js,py,java,cs}]
charset = utf-8

# Shell scripts require Unix line endings
[*.sh]
end_of_line = lf
